@import '~@fontsource/roboto/index.css';
@import '~@fontsource/sriracha/index.css';

#root {
  height: 100vh;
  overflow: auto;
}

.app {
  &-body {
    width: 18rem;
    padding: 1rem;
    border-right: 1px solid #7373730f;
    height: 100%;

    @include width(sm) {
      margin: 0 auto;
      order: 2;

      & ~ .app-banner {
        order: 1;
      }
    }

    @include width(xs) {
      margin: 0 auto;
      order: 2;

      & ~ .app-banner {
        order: 1;
      }
    }

    &-content {
      &.welcome {
        height: 100%;
      }
    }
  }

  &-content {
    max-width: 860px;
    margin: 3rem auto;
    width: 80%;
    border: 1px solid #7373730f;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 4px 4px hsl(243, 8%, 75%), 3px 6px 6px hsl(243, 12%, 60%);
  }

  &-navigation {
    display: flex;
    justify-content: space-between;
  }

  &-login {
    &-form {
      margin-top: 2rem;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
      opacity: 0.7;
      color: #3b3b3b;
    }

    &-button {
      display: block;
      text-align: center;
      text-decoration: none;
      width: 100%;
      border: none;
      padding: 0.7rem 0;
      transition: all 0.2s;
      cursor: pointer;

      &.primary {
        background: hsl(243, 100%, 70%);
        color: #fff;

        &:hover,
        &:focus-visible {
          background: hsl(243, 100%, 45%);
        }
      }

      &.secondary {
        color: hsl(243, 100%, 70%);
        border: 1px solid hsl(243, 100%, 70%);

        &:hover,
        &:focus-visible {
          color: #fff;
          background: hsl(243, 100%, 70%);
        }
      }
    }

    &-input {
      display: block;
      width: 100%;
      margin-top: 0.5rem;
      padding: 0.5rem 0.4rem;
      border: 1px solid #b0b0b0;
      border-radius: 4px;
      color: #3b3b3b;

      &:hover,
      &:active,
      &:focus-visible {
        outline: 2px solid #b0b0b0;
      }
    }

    &-link {
      margin-top: 1rem;
      display: block;

      &:not(:nth-child(2)) {
        margin-top: 0.5rem;
      }
    }

    &-separator {
      text-align: center;
      display: block;
      opacity: 0.7;
      margin: 2rem 0 1rem;
      color: #3b3b3b;

      &:after {
        content: '--';
        padding-left: 8px;
        font-weight: 600;
      }

      &:before {
        content: '--';
        padding-right: 8px;
        font-weight: 600;
      }
    }
  }

  &-home {
    &-image {
      max-width: 100%;
    }
  }

  &-icon {
    &-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    &-item {
      width: 36px;
      height: auto;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      padding: 0.2rem 0.4rem;
      border: 1px solid #b2b2b27d;
      border-radius: 4px;
      transition: 0.1s;

      &:hover,
      &:focus-visible {
        box-shadow: 1px 1px 1px #cecece, 2px 2px 2px #e4e4e4;
      }
    }

    &-description {
      color: #3b3b3b;
    }
  }

  &-inner {
    display: grid;
    grid-template-columns: 0fr 1fr;
    transition: all 0.3s;

    @include width(sm) {
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 1fr;
      width: 90%;
    }

    @include width(xs) {
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 1fr;
      width: 90%;
    }
  }
}

.error-message {
  display: block;
  color: #7c0000;
  font-weight: 600;
  font-size: 0.8rem;
  padding-bottom: 8px;
}

.displaced-top {
  margin-top: 1rem;
}

.to-left {
  transform: translateX(-100%);
}
